* {
    border: none;
    border-radius: 0;
    font-family: Input Mono, Hack Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window {
    background: transparent;
}

window > box {
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
    
}

#workspaces button {
    padding: 0 22px;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(255, 255, 255, 0.15);
    border-bottom: 3px solid #d9d8d8;
}

#workspaces button.visible {
    color: #d9d8d8;
    background: #231f20;
    border-bottom: 3px solid rgba(0, 0, 0, 0.30);
}

#workspaces button.focused {
    color: #231f20;
    background: #009ddc;
    border-bottom: 3px solid rgba(0, 0, 0, 0.30);
}

#workspaces button.urgent {
    color: #231f20;
    background: #cc6666;
    border-bottom: 3px solid rgba(0, 0, 0, 0.30);
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-arch-updates,
#custom-spotify {
    padding: 0 15px;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#custom-arch-updates {
    color: #231f20;
    background: #009ddc;
    border-bottom: 3px solid rgba(0, 0, 0, 0.30);
}

#mode {
    padding: 0 18px;
    color: #d9d8d8;
    background: #00853e;
    border-bottom: 3px solid rgba(0, 0, 0, 0.30);
}

#pulseaudio.bluetooth {
    border-bottom: 3px solid #009ddc;
}

#network.disconnected {
    border-bottom: 3px solid #ee2e24;
}

#battery.warning:not(.charging) {
    border-bottom: 3px solid #ffd204;
    color: #ffd204;
}

#battery.critical:not(.charging) {
    border-bottom: 3px solid rgba(0, 0, 0, 0.30);
    background: #ee2e24;
    color: #ffffff;
}